body {
  margin: 0;
  font-family: 'Epilogue', sans-serif;
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  background-color: hsl(0, 0%, 98%);
  width: 375px;
}

@media screen and (min-width: 1440px) {
  body {
    width: 1440px;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  color: hsl(0, 0%, 8%);
}

p {
  color: hsl(0, 0%, 41%);
}
